.carousel {
    width: 45%;
    margin: 0 auto;
}

.content {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 30px;
}

.post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.post_content .title {
    font-family: "Jost", sans-serif;
    font-weight: 900;
    font-size: 36px;
    text-transform: capitalize;
}

.post_content .text {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    width: 55%;
}

.post img {
    max-width: 450px;
    max-height: 1200px;
    box-shadow: 0 0 20px;
    border-radius: 25px;
}

.slick-slider {
    background: rgb(14, 13, 13) transparent;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons * {
    padding: 5px 15px;
    background: none;
    border: 2px solid teal;
    border-radius: 15px;
    transition: 1s;
}

.buttons *:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}