.content {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 30px;
}

.post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.post_content .title {
    font-family: "Jost", sans-serif;
    font-weight: 900;
    font-size: 36px;
    text-transform: capitalize;
}

.post_content .text {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    width: 55%;
}

.post img {
    max-width: 450px;
    max-height: 550px;
    box-shadow: 0 0 20px;
    border-radius: 25px;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 25px;
}

.actionContainer button {
    padding: 5px 15px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 15px;
}

.actionContainer button:last-child {
    margin-left: 25px;
}

.actionContainer button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: black;
    transition: 0.5s;
    cursor: pointer;
}