* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

a {
    text-decoration: none !important;
}

/* Забавно, почему я не могу прокинуть это локально? */

body .slick-prev:before, body .slick-next:before {
    color: darkcyan;
    z-index: 100;
    font-size: 75px;
}

body .slick-prev:before {
    position: absolute;
    display: block;
    right: 0;
}
