header {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.logo {
    font-family: 'Mistral';
    font-size: 125px;
    font-weight: 100;
    color: darkcyan;
}

nav a {
    color: black;
}

nav a:hover {
    color: grey;
    transition: 0.3s;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav {
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 40px;
}